/* Heading */

h1 {
    color: orangered;
    color: darkgreen;
    font-size: 100px;
    font-style: unset;
    font-family: cursive;
}


/* 3*3 Grid */

#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
    width: 80px;
    height: 52px;
    margin: auto;
    border: 10px double;
    border-radius: 26px;
    font-size: 40px;
    text-align: center;
    color: #05ffdd;
    background-color: #878787
}


/* Reset Button */

#but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 5px solid #ff1e41;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: cursive;
}


/* Player turn space */

#print {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    -webkit-text-stroke-width: thin;
    color: cadetblue;
}


/* Main Container */

#main {
    text-align: center;
    background-color: currentcolor;
}


/* Game Instruction Text */

#ins {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 17px;
    font-family: cursive;
}